<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
	<link rel='stylesheet' type='text/css' href='/static/styles/bootstrap.css'>
	<link rel='stylesheet' type='text/css' href='/static/styles/styles.css'>
  <title>All groups</title>
</head>
<body>
  <header>
    <div class="container">
      <div class="row">
          <div class="col-3">
              <ul class="nav navbar-nav">
        
                <li><a href="/admin"> Homepage</a></li>
                <li><a href="/group/new">Create a New group</a></li>
              </ul>
            </div>
            <div class="col-9">
                <h1>All The groups</h1>
                <div class="col-4">
                  <div class="card" style="text-align:center ">
                      {{#groups}}
                      <a href="/group/{{id}}">
                        <h3>{{name}}</h3>
                      </a>
                      {{/groups}}
                   
                  </div>
                </div>
            </div>
      </div>
    </div>
    
    </header>
  
  <!---<div class="links">
    <a href="/"> Homepage</a>
    <a href="/group/new">Create a New group</a>
  </div>-->

   
</body>
</html>