<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' type='text/css' href='/static/styles/styles.css'>
  <title>New Client</title>
</head>
<body>
  <h1>Create A Client</h1>
  <form action="/{{client.id}}" method="POST">
    <label for="name">
       Name: <input type="text" id="name" name="name">
    </label>
    <label for="phone">
      phone: <input type="text" id="phone" name="phone">
    </label>
    <label for="email">
      email: <input type="email" id="email" name="email">
    </label>
    <label for="address">
      address: <input type="text" id="address" name="address">
      </select>
      <button type="submit">Create client</button>
    </label>
   
  </form>
</body>
</html>