<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' type='text/css' href='/static/styles/styles.css'>
  <title>All tasks</title>
</head>
<body>
  <h1>All The tasks</h1>
  <div class="links">
    <a href="/"> Homepage</a>
    <a href="/task/new">Create a New task</a>
  </div>

    {{#tasks}}
    <a href="/task/{{id}}">
      <h3>{{name}}</h3>
    </a>
    {{/tasks}}
 
</body>
</html>