<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' type='text/css' href='/static/styles/styles.css'>
  <title>Show task</title>
</head>
<body>
  <h1>{{task.name}}</h1>
    
      <a href="/">homepage</a>
      <a href="/task">All tasks</a>
    <form action="/task/{{id}}?_method=DELETE" method="POST">
  <p>name : {{task.name}}</p>
  <p>description: {{task.description}}</p>
  <p> note: {{task.note}}</p>
  <p>start time : {{task.start_time}}</p> 
  <p>end time : {{task.end_time}}</p> 
  
  {{#projects}}
          <p value="{{id}}"> project: {{name}}</p>
  {{/projects}}

  {{#members}}
          <p value="{{id}}"> member: {{name}}</p>
  {{/members}}
  
   
    <button type="submit">Delete task</button>
    </form>
    <form action="/task/{{id}}/edit">
        <button type="submit">Edit task</button>
    </form>
</body>
</html>