<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>landpage </h1>
    <a href="/group">All groups</a>
    <br>
    <a href="/project">All projects</a>
    <br>
    <a href="/task">All tasks</a>
    <br>
    <a href="/client">All clients</a>
    <br>
    <a href="/member">All members</a>
    <br>
    <a href="/users">All users</a>
    

</body>
</html>