<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	
	<link rel='stylesheet' type='text/css' href='/static/styles/bootstrap.css'>
    <link rel='stylesheet' type='text/css' href='/static/styles/style.css'>
</head>
<body>
<header>
	<nav class="navbar navbar-expand-lg navbar-light bg-light ">
		 <a class="navbar-brand" href="#"><img src="static/favicon.png"></a>
		 <ul class="navbar-nav ml-auto">
		 	<li><a href="/">Logout</a></li>
		 </ul>
	</nav>
</header>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-12">
					<p>Admin page  </p>
				</div>
				<div class="col-4">
					<div class="card">
						<a href="">
							<div class="card-header">
								Groups
							</div>
							<div class="card-body">
								<a href="/group"> Go</a>
							</div>
						</a>
					</div>
                   </div>
					<div class="col-4">
					<div class="card">
						<a href="">
							<div class="card-header">
								Projects
							</div>
							<div class="card-body">
								<a href="/project">Go</a>
							</div>
						</a>
					</div>
                </div>
                
                <div class="col-4">
					<div class="card">
						<a href="">
							<div class="card-header">
								Tasks
							</div>
							<div class="card-body">
								<a href="/task">Go</a>
							</div>
						</a>
					</div>
				</div>


				<div class="col-4">
					<div class="card">
						<a href="">
							<div class="card-header">
								Clients
							</div>
							<div class="card-body">
								<a href="/client">Go</a>
							</div>
						</a>
					</div>
				</div>
                <div class="col-4">
					<div class="card">
						<a href="">
							<div class="card-header">
								Members
							</div>
							<div class="card-body">
								<a href="/member">Go</a>
							</div>
						</a>
					</div>
                </div>
                <div class="col-4">
					<div class="card">
						<a href="">
							<div class="card-header">
								Users
							</div>
							<div class="card-body">
								<a href="/users">Go</a>
							</div>
						</a>
					</div>
				</div>

				
			</div>
		</div>
	</section>
</body>
</html>