/*===============index page ==============*/
body{
	margin:0;
}
.header{
	margin-top: 55px;
	margin-bottom: 25px;
}
.buanaa{
	transform: all 1s;
}
.buana:hover{
	background: gray;
}
.text-center h3{
	position: relative;
	padding-bottom: 20px;
}
.text-center h3::after{
	  content:"";

    position: absolute;

    bottom: 0;
    left: 0;
    right: 0;
    height: 0.5em;
    border-top: 1px solid black;
    width: 150px;
    border-width: 5px;
   left: 480px;
    z-index: -1;
}
footer{
	margin-top: 65px;
}
.trt{
	margin: 0 auto;
}